@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body{
font-family: 'Varela Round', sans-serif; 
font-size:24px;
line-height: none;
}
.container{
max-width:auto;
}
img{ max-width:90%;}
.list-group{
 float: left;
 width: 25vw;
 overflow:hidden; 
 clear:both;
 height: 800px;
 overflow-y: scroll;
 margin: 0px;
}
.footer1
{
    background-color:#1A3E16;
    color:white;
    height:8%;
    width: 100%;
    position: fixed;
    bottom:0px;
    text-align:center;
    z-index: 5;
    font-size: 15px;
  font-family: sans-serif;
}
.footer2
{
    background-color:#1A3E16;
    color:white;
    height:8%;
    width: 100%;
    position: relative;
    bottom:0px;
    text-align:center;
    z-index: 5;
    font-size: 15px;
  font-family: sans-serif;
}
.chat_img {
  float: left;
  width: 20%;
}

.list-group-item{
  padding: 30px;
}
.msgs {
 
  padding: auto;
  height:auto;
  width:auto;
}

.myclass{
    background-color:#fff;
}

.top{
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
    margin: 10px;
    width:360px;
    height:119px;
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}
  
.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
    background-color: #b3ca42;
    border-color: #428BCA;
    color:#fff;
}   

.panel-title {
    width: auto;
    height: auto;
    font-size: 32px;
    font-weight:bold;
    margin: 10px;
    color: black;
}   


.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
    margin: 0;
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 31px;
    border-image: 4px;
    background-color: #2065d4; 
    color: black;
    font-weight: 600 !important;
    margin-right: 10px;  
    font-size: 18px;
    
}

.buttons .btn{
    padding: 18px 40px;
    margin-bottom: 20px;
    margin-right: 13px;
}

.btn:hover {
  background-color: #74de0b;
}

/*.his{
    font-size: 2px;
}*/

.backk button{
    position:relative;
left: 50%;
margin-top:50%;
}